.alunoImg{
  height: 45px;
  margin-right: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 00;
  display: flex;
  justify-content: flex-end;
}

.footer span {
  margin-left: 1600px;
  font-weight: 300;
  font-size: 1rem;
}

